<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :session_number %>
    <%= form.number_field :session_number, id: :note_session_number %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name, id: :note_client_name %>
  </div>

  <div class="field">
    <%= form.label :counselor_name %>
    <%= form.text_field :counselor_name, id: :note_counselor_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :note_status %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :note_content %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.number_field :client_id, id: :note_client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
