<p id="notice"><%= notice %></p>

<p>
  <strong>Counselorname:</strong>
  <%= @note.counselorName %>
</p>

<p>
  <strong>Clientname:</strong>
  <%= @note.clientName %>
</p>

<p>
  <strong>Session:</strong>
  <%= @note.session %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
