<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Admin Home</h1>
    <div style="text-align:center;">
      <div style="display: inline-block;">
        <%= button_to "Client Reports", 'adminclientreports', :method => :get, :class => 'btn btn-dark' %>
      </div>&nbsp;&nbsp;
      <div style="display: inline-block;">
        <%= button_to "Manage Users", 'adminmanageusers', :method => :get, :class => 'btn btn-dark' %>
      </div>&nbsp;&nbsp;
      <div style="display: inline-block;">
        <%= button_to "Submitted Notes", 'submittednotes', :method => :get, :class => 'btn btn-dark' %>
      </div>
    </div>
    <br></br>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="searchBar" onkeyup="search()" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-dark" onclick="search()" type="button">Search</button>
      </div>
    </div>
  </div>
</div>

<table class="table" id="table">
  <thead class="thead-dark">
    <tr>
      <th id="name">Client Name</th>
      <th>Client ID</th>
      <th>Date Of Birth</th>
      <th>Assigned Counselor</th>
      <th>Counselor Notes</th>
      <th>Edit Client</th>
      <th>Archive Client</th>
    </tr>
	</thead>
	<% @clients = Client.all %>
	<% @clients.each do |client| %>
		<% if !client.is_archived %>
			<tr>
				<td><%= client.first_name %> <%= client.last_name %></td>
				<td><%= client.custom_id %></td>
				<td><%= client.dob.strftime("%m-%d-%Y") %></td>
				<% if (client.counselor_id.nil?) %>
					<td>None</td>
				<% else %>
					<td><%= (User.find_by_id(client.counselor_id)).name %></td>
				<% end %>
        <td><%= button_to 'Notes', client_notes_path_url(client.id), :class => 'btn btn-dark', :method => :get %></td>
				<td><%= button_to 'Edit', edit_client_path(client.id), :class => 'btn btn-dark', :method => :get %></td>        
				<td><%= button_to 'Archive', client_archive_path_url(client.id), :class => 'btn btn-dark', :method => :get %></td>
			</tr>
		<% end %>
	<% end %>
</table>

<table class="table">
  <thead class="thead-dark">
	  <tr>
		  <th>Client ID</th>
		  <th>Date of Change</th>
		  <th>Counselor Responsible</th>
      <th>Event</th>
      <th>Difference</th>
      <th>Rollback</th>
	  </tr>
  </thead>
  <tbody><br><br>
  <% @clients = Client.all %>
    <% @clients.each do |client| %>
        <%  client.versions.reverse.each do |version| %>
          <tr>
            <td><%= version.index %></td>
            <td><%= version.created_at %></td>
            <td><%= find_version_counselor_name(version) %></td>
            <td><%= version.event.humanize %></td>
            <td><%= link_to 'Diff', diff_client_version_path(client, version), :class => 'btn btn-dark' %></td>
            <td><%= link_to 'Rollback', rollback_client_version_path(client, version), :class => 'btn btn-dark', method: 'PATCH' %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<script>
	function search() {
	  var input, filter, table, tr, name, counselor, custom_id;
	  input = document.getElementById("searchBar");
	  filter = input.value.toUpperCase();
		table = document.getElementById("table");
		tr = table.getElementsByTagName("tr");
  	for (var i = 0; i < tr.length; i++) {
    	name = tr[i].getElementsByTagName("td")[0];
			counselor = tr[i].getElementsByTagName("td")[3];
			custom_id = tr[i].getElementsByTagName("td")[1];
    	if (name) {
    		if (name.innerHTML.toUpperCase().indexOf(filter) > -1 ||
						counselor.innerHTML.toUpperCase().indexOf(filter) > -1 ||
						custom_id.innerHTML.toUpperCase().indexOf(filter) > -1) {
      		tr[i].style.display = "";
    		} else {
      		tr[i].style.display = "none";
    		}
    	}
  	}
	}
</script>
