<h4>Are you sure you want to archive this client?</h4>

  <%= form_for(@client, local: true) do |form| %>
    <%= form.submit "Submit", :class => "btn btn-success btn-lg" %>
    <% @client.is_archived=false %>
  <% end %>
<%= form_for(@client, local: true) do |form| %>
    <div class="row" style="border: 1px solid black; margin: 10px; padding: 5px;">
      <div class="col-sm">

        <div>
          <%= form.label :first_name %>
          <%= form.text_field :first_name, id: :client_first_name %>
        </div>

        <div>
          <%= form.label :last_name %>
          <%= form.text_field :last_name, id: :client_last_name %>
        </div>


        <div class="field" style="display: inline-block;">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, id: :client_phone_number %>
        </div>

        <div class="field" style="display: inline-block;">
          <%= form.label :leave_message %>
          <%= form.check_box :leave_message, id: :client_leave_message %>
        </div>

        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email, id: :client_email %>
        </div>

        <div class="field">
          <%= form.label :occupation %>
          <%= form.text_field :occupation, id: :client_occupation %>
        </div>

        <div class="field">
          <%= form.label :employer %>
          <%= form.text_field :employer, id: :client_employer %>
        </div>
      </div>
      <div class="col-sm">

        <div class="field">
        <% @client = Client.find(params[:id]) %>
          <%= form.fields_for :family_members do |family_member_form| %>
            <p>
              Name: <%= family_member_form.text_field :name %><br>
              Dob: <%= family_member_form.text_field :dob %><br>
              Relation: <%= family_member_form.text_field :relation %><br>
            </p>
          <% end %>
        </div>

        <div class="field">
          <%= form.label :emergency_name %>
          <%= form.text_field :emergency_name, id: :client_emergency_name %>
        </div>

        <div class="field">
          <%= form.label :emergency_relation %>
          <%= form.text_field :emergency_relation, id: :client_emergency_relation %>
        </div>

        <div class="field">
          <%= form.label :emergency_phone %>
          <%= form.text_field :emergency_phone, id: :client_emergency_phone %>
        </div>

      </div>

      <div class="col-sm">

        <div class="field">
          <%= form.label :insurance_company %>
          <%= form.text_field :insurance_company, id: :client_insurance_company %>
        </div>

        <div class="field">
          <%= form.label :physician %>
          <%= form.text_field :physician, id: :client_physician %>
        </div>

        <div class="field">
          <%= form.label :physician_phone %>
          <%= form.text_field :physician_phone, id: :client_physician_phone %>
        </div>

        <div class="field">
          <%= form.label :medication %>
          <%= form.text_field :medication, id: :client_medication %>
        </div>

        <div class="field">
          <%= form.label :counselor_seen_before %>
          <%= form.check_box :counselor_seen_before, id: :client_counselor_seen_before %>
        </div>

        <div class="field">
          <%= form.label :counselor_seen %>
          <%= form.text_field :counselor_seen, id: :client_counselor_seen %>
        </div>

        <div class="field">
          <%= form.label "custom id" %>
          <%= form.text_field :custom_id, id: :client_custom_id %>
        </div>

        <div class="field">
          <%= form.label :local_address %>
          <%= form.text_field :local_address, id: :client_local_address %>
        </div>

        <div class="field">
          <%= form.label :local_city %>
          <%= form.text_field :local_city, id: :client_local_city %>
        </div>

        <div class="field">
          <%= form.label :phone_type %>
          <%= form.text_field :phone_type, id: :client_phone_type %>
        </div>

        <div class="field">
          <%= form.label :email_leave_message %>
          <%= form.text_field :email_leave_message, id: :client_email_leave_message %>
        </div>

        <div class="field">
          <%= form.label :highest_edu %>
          <%= form.text_field :highest_edu, id: :client_highest_edu %>
        </div>

        <div class="field">
          <%= form.label :identified_gender %>
          <%= form.text_field :identified_gender, id: :client_identified_gender %>
        </div>

        <div class="field">
          <%= form.label :culture_background %>
          <%= form.text_field :culture_background, id: :client_culture_background %>
        </div>

        <div class="field">
          <%= form.label :sexual_orientation %>
          <%= form.text_field :sexual_orientation, id: :client_sexual_orientation %>
        </div>

        <div class="field">
          <%= form.label :relationship %>
          <%= form.text_field :relationship, id: :client_relationship %>
        </div>

        <div class="field">
          <%= form.label :how_referred %>
          <%= form.text_field :how_referred, id: :client_how_referred %>
        </div>

        <div class="field">
          <%= form.label :accepted %>
          <%= form.text_field :accepted, id: :client_accepted %>
        </div>

        <div class="field">
          <%= form.label :referral_to %>
          <%= form.text_field :referral_to, id: :client_referral_to %>
        </div>

        <div class="field">
          <%= form.label :is_archived %>
          <%= form.check_box :is_archived, id: :doesnotmatter %>
        </div>


        <div class="field">
        <table class="table">
        <thead>
            <tr>
              <th>Previous Counselors</th>
           </tr>
        </thead>
        <tbody>
           <% @client.previous_counselor.each do |item|%>
           <tr>
              <th><%= item %></th>
           </tr>
           <% end %>
        </tbody>
        </table>
        </div>
        <div class="actions">
          <%= form.submit "Submit", :class => "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

