<h1>Client Information Sheet</h1>

<%= stylesheet_link_tag "client" %>

<div style="margin: 30px 100px 100px 100px; text-align: center;">

<%= form_for(@client, local: true) do |form| %>

  <!-- Side form pane -->
  <div class="row">
    <div class="col-md-5 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text">Your Contact Information</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Phone Number</h6>
          </div>
          <%= form.text_field :phone_number, id: :client_phone_number, placeholder: "(xxx-xxx-xxxx)", class: "form-control" %>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Phone Type</h6>
          </div>
          <%= form.select :phone_type, options_for_select([["Select One", ""], "Cell", "Work", "Home"]), id: :client_phone_type, class: "custom-select d-block w-100" %>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">May we leave a message?</h6>
          </div>
          <div class="checkboxes">
            <span>
              <label>Yes</label>
              <%= form.check_box :leave_message, id: :client_leave_message %>
            </span>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Email Address</h6>
          </div>
          <%= form.text_field :email, id: :client_email, placeholder: "example@mail.com", class: "form-control" %>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">May we send you emails?</h6>
          </div>
          <div class="checkboxes">
            <span>
              <label>Yes</label>
              <%= form.check_box :email_leave_message, id: :client_email_leave_message %>
            </span>
          </div>
        </li>
      </ul>

      <!-- Emergency Contact Information -->
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text">Emergency Contact Information</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Contact's Name</h6>
          </div>
          <%= form.text_field :emergency_name, id: :client_emergency_name, placeholder: "", class: "form-control" %>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Contact's Phone Number</h6>
          </div>
          <%= form.text_field :emergency_phone, id: :client_emergency_phone, placeholder: "(xxx-xxx-xxxx)", class: "form-control" %>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Contact's Relation to you</h6>
          </div>
          <%= form.text_field :emergency_relation, id: :client_emergency_relation, placeholder: "", class: "form-control" %>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Your Insurance Company</h6>
          </div>
          <%= form.select :insurance_company, options_for_select([["Select One", ""], "OHP", "Medicare", "Private Insurance", "Uninsured", "Other"]),id: :client_insurance_company,  class: "custom-select d-block w-100" %>
        </li>
      </ul>

      <!-- Concent Forms -->
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text">Concent Forms</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="/Clinic_Informed_Consent_and_PDS.pdf" class="button btn-primary" style="color: white; width: 300px">Informed Consent for Counseling</a>
          <label>I consent</label>
          <%= form.check_box :accepted, id: :counselingConsent, checked: false, required: true  %>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="/IntakeTemplateForWrite-Up.pdf" class="button btn-primary" style="color: white; width: 300px">Informed Consent for Treatment</a>
          <label>I consent</label>
          <%= form.check_box :treatment, id: :treatmentConsent, checked: false %>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <a href="/Informed_Consent_to_Record.pdf" class="button btn-primary" style="color: white; width: 300px">Informed Consent for Video/Audio Recording</a>
          <label>I consent</label>
          <%= form.check_box :av, id: :avConsent, checked: false %>
        </li>
      </ul>
    </div>

    <!-- Main form pane -->
    <div class="col-md-6 order-md-1">
      <h4 class="mb-3">Your Information</h4>
        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="firstName">First name</label>
            <%= form.text_field :first_name, id: :client_first_name, placeholder: "", value:"", required: true, class: "form-control" %>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="lastName">Last name</label>
            <%= form.text_field :last_name,  id: :client_last_name, placeholder: "", class: "form-control" %>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="street">Street</label>
            <%= form.text_field :local_street, id: :client_local_street, placeholder: "", class: "form-control" %>
            <div class="invalid-feedback">
              Valid address is required.
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <%= form.text_field :local_city, id: :client_local_city, placeholder: "", class: "form-control" %>
            <div class="invalid-feedback">
              Valid address is required.
            </div>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="state">State</label>
            <%= form.text_field :local_state, id: :client_local_state, placeholder: "", class: "form-control" %>
            <div class="invalid-feedback">
              Valid address is required.
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="zipcode">Zip Code</label>
            <%= form.text_field :local_zipcode, id: :client_local_zipcode, placeholder: "", class: "form-control" %>
            <div class="invalid-feedback">
              Valid address is required.
            </div>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>
 
        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="occupation">Occupation</label>
            <%= form.text_field :occupation, id: :client_occupation, placeholder: "", class: "form-control" %>
          </div>

          <div class="col-md-5 mb-3">
            <label for="employer">Employer</label>
            <%= form.text_field :employer, id: :client_employer, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-10 mb-3">
            <label for="dateOfBirth">Date of Birth</label>
            <div class="card p-2">
              <div class="input-group">
                <%= form.date_select :dob, id: :client_dob, :start_year => 1901, :end_year => Time.current.year, class: "form-control" %>
              </div>
            </div>
            <div class="invalid-feedback">
              Valid date of birth is required.
            </div>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <h4 class="mb-3">Your Demographic Information</h4>
        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="education">Highest Education</label>
            <%= form.text_field :highest_edu, id: :client_highest_edu, placeholder: "", class: "form-control" %>
          </div>

          <div class="col-md-5 mb-3">
            <label for="gender">Identified Gender</label>
            <%= form.text_field :identified_gender, id: :client_identified_gender, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="culturalBackground">Cultural Background</label>
            <%= form.text_field :culture_background, id: :client_culture_background, placeholder: "", class: "form-control" %>
          </div>

          <div class="col-md-5 mb-3">
            <label for="sexualOrientation">Sexual Orientation</label>
            <%= form.text_field :sexual_orientation, id: :client_sexual_orientation, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="relationshipStatus">Relationship Status</label>
            <%= form.text_field :relationship, id: :client_relationship, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-5 mb-3">
            <label for="is_veteran">Veteran Status</label>
            <div class="card p-1">
              <div class="input-group">
                <label>Active/Retired Military</label>
                <%= form.check_box :is_veteran, id: :is_veteran %>
              </div>
            </div>
          </div>
        </div>

        <h4 class="mb-3">History</h4>
        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-5 mb-3">
            <label for="counselorSeenBefore">Past Client?</label>
            <div class="card p-2">
              <div class="input-group">
                <div class="checkboxes">
                  <span>
                    <label>I'm a returning client</label>
                    <%= form.check_box :counselor_seen_before, id: :client_counselor_seen_before %>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="counselorSeen">Counselor Seen</label>
            <%= form.text_field :counselor_seen, id: :client_counselor_seen, placeholder: "Counselor Name", class: "form-control" %>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>

        <div class="row">
          <div class="col-md-1 mb-3"></div>
          <div class="col-md-10 mb-3">
            <label for="howReferred">How Were You Referred To The Clinic?</label>
            <%= form.text_field :how_referred, id: :client_how_referred, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-1 mb-3"></div>
        </div>
    </div>
  </div>

<!-- Family members -->
  <h4 class="mb-3">How Many Members Are In Your Household? (Optional)</h4>
  <div class="field fieldStyle">
    <%= select_tag "quantity", options_for_select((0..10),1), :onchange => 'changed(this)' %>
  </div>
  <% 4.times do |i| %>
    <%= form.fields_for :family_members, FamilyMember.new do |family_member_form| %>
      <div id="<%= i.to_s %>">
        <div class="row">
          <div class="col-md-3 mb-3"></div>
          <div class="col-md-3 mb-3">
            <label for="familyMembersName">Name</label>
            <%= family_member_form.text_field :name, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-3 mb-3">
            <label for="familyMembersRelation">Relation</label>
            <%= family_member_form.text_field :relation, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-1 mb-3">
            <label for="age">Age</label>
              <%= family_member_form.text_field :age, placeholder: "", class: "form-control" %>
          </div>
          <div class="col-md-3 mb-3"></div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="field fieldStyle" style="display: none;">
    <%= form.text_field :custom_id, id: :client_custom_id, value: "0" %>
  </div>

  <strong>Draw your signature into the box below</strong><br>
  <canvas style="border: 1px solid black" id="signature-pad" class="signature-pad" width=800 height=300></canvas><br>
  <a class="btn btn-primary" id="clear" style="color: white">Clear</a><br><br>

  <div style="margin-top: 1em;">
    <%= form.submit "Submit", :class => 'btn btn-primary', :onclick => "SaveSig()"%>
  </div><br>

  <input type="hidden" id="sig" name="sig">
<% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>

  $(document).ready(function() {
    for (var i = 0; i < 3; i++) {
      document.getElementById(i.toString()).style.display = 'none';
    }

    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  });

  function changed(sel) {
    var taskNum = sel.options[sel.selectedIndex].value;
    for (var i = 3; i >= 0; i--) {
      if (taskNum <= i) {
        document.getElementById(i.toString()).style.display = 'none';
      } else {
        document.getElementById(i.toString()).style.display = 'block';
      }
    }
  }

  function show(id) {
    var element = document.getElementById(id);
    if (element.style.display === "none") {
      element.style.display = "block";
    } else {
      element.style.display= "none";
    }
  }
  var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
    backgroundColor: 'rgba(255, 255, 255, 0)',
    penColor: 'rgb(0, 0, 0)'
  });

  function SaveSig(){
    $("#sig").val(signaturePad.toDataURL());
  }

  // document.getElementById('save-png').addEventListener('click', function () {
  //   if (signaturePad.isEmpty()) {
  //     return alert("Please provide a signature first.");
  //   }

  //   var data = signaturePad.toDataURL('image/png');
  //   console.log(data);
  //   window.open(data);
  // });

  document.getElementById('clear').addEventListener('click', function () {
    signaturePad.clear();
  });
</script>
