<h1>Client Information Sheet</h1>
<div style="text-align: center;">Please do not fill out this form until you have contacted to do so.</div>

<style>
  .goodBorder {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.10);
    border: 1px solid grey;
    padding: 15px;
  }

  label.error {
    color: red;
  }

  #contact{
    padding:10px 0 10px;
  }
  .contact-text{
    margin:45px auto;
  }
  .mail-message-area{
    width:100%;
    padding:0 15px;
  }
  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }
  .not-visible-message{
    height:0px;
    opacity: 0;
  }
  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }
  /* Input Styles */
  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .form:hover{
    border:1px solid #8BC3A3;
  }
  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }
  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  /* Generic Button Styles */
  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }
  .button:hover{
    background:#8BC3A3;
    color:white;
  }
  /* Send Button Styles */
  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }
  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }
  .form-btn:active{
    opacity: 0.9;
  }
  center{
    margin-top:330px;
  }
  input {
    position: relative;
    z-index: 9999;
  }
</style>

<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
&nbsp;&nbsp;&nbsp;&nbsp;
<div style="margin: 30px 100px 100px 100px; text-align: center;">

<% client = @client %>
<%= form_for(@client, local: true) do |form| %>

  <div class="inner contact">
    <div class="contact-form">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.text_field :first_name, id: :client_first_name, placeholder: "First Name", class: "form" %>

        <%= form.text_field :phone_number, id: :client_phone_number, placeholder: "Phone Number (xxx-xxx-xxxx)", class: "form" %>

        <%= form.text_field :email, id: :client_email, placeholder: "Email", class: "form" %>

        <%= form.label :dob, "Date of Birth" %>
        <%= form.date_select :dob, id: :client_dob, :start_year => 1901, :end_year => Time.current.year, class: "form" %>

        <br>

        <div style="margin-top:-0.75em">&nbsp;</div>
          <%= form.text_field :local_address, id: :client_local_address, placeholder: "Address", class: "form" %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :last_name,  id: :client_last_name, placeholder: "Last Name", class: "form" %>
          <%= form.label "Can we leave a message?"  %>
          <%= form.check_box :leave_message, id: :client_leave_message %>
          <%= form.label :phone_type %>
          <%= form.select :phone_type, options_for_select([["Select One", ""], "Cell", "Work", "Home"]), class: "form" %>
          <%= form.label "Can we send you messages?"  %>
          <%= form.check_box :email_leave_message, id: :client_email_leave_message %>

        <%= form.text_field :occupation, id: :client_occupation, placeholder: "Occupation", class: "form" %>

        <%= form.text_field :employer, id: :client_employer, placeholder: "Employer", class: "form" %>
      </div>

      <div class="clearfix"></div>
        <h2 style="">Demographic Information</h2><br>
        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
          <%= form.text_field :highest_edu, id: :client_highest_edu, placeholder: "Highest Education", class: "form" %>
          <%= form.text_field :culture_background, id: :client_culture_background, placeholder: "Culture Background", class: "form" %>
          <%= form.text_field :relationship, id: :client_relationship, placeholder: "Relationship", class: "form" %>
        </div>
        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
          <%= form.text_field :identified_gender, id: :client_identified_gender, placeholder: "Identified Gender", class: "form" %>
          <%= form.text_field :sexual_orientation, id: :client_sexual_orientation, placeholder: "Sexual Orientation", class: "form" %>
        </div>
        <div class="clearfix"></div>
     </div>
  </div>

<!--   <%= form.check_box :accepted, id: :client_accepted %>
  <%= form.label :accepted %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.label :referral_to %>
  <%= form.text_field :referral_to, id: :client_referral_to %> -->

  <h3>How many members are in your household (optional)</h3>

  <div class="field fieldStyle"><%= select_tag "quantity", options_for_select((1..4),1), :onchange => 'changed(this)' %></div>
  <% 4.times do |i| %>
    <%= form.fields_for :family_members, FamilyMember.new do |family_member_form| %>
      <p id="<%= i.to_s %>">
        <%= family_member_form.text_field :name, placeholder: "Name" %>
        <%= family_member_form.text_field :relation, placeholder: "Relation" %>
        <br>
        Date of Birth: <%= family_member_form.date_select :dob, :start_year => 1901, :end_year => Time.current.year %>
      </p>
    <% end %>
  <% end %>
  <br>

  <h3>Emergency Contact Information</h3><br>
  <div class="inner contact">
    <div class="contact-form">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.text_field :emergency_name, id: :client_emergency_name, placeholder: "Emergency Name", class: "form" %>
        <%= form.text_field :emergency_phone, id: :client_emergency_phone, placeholder: "Emergency Phone (xxx-xxx-xxxx)", class: "form" %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :emergency_relation, id: :client_emergency_relation, placeholder: "Emergency Relation", class: "form" %>
        <%= form.text_field :insurance_company, id: :client_insurance_company, placeholder: "Insurance Company", class: "form" %>
      </div>
    </div>
  </div>

  <h3>History</h3><br>
  <div class="inner contact">
    <div class="contact-form">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.check_box :counselor_seen_before, id: :client_counselor_seen_before %>
        <%= form.label :counselor_seen_before %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :counselor_seen, id: :client_counselor_seen, placeholder: "Counselor Seen", class: "form" %>
      </div>
      <%= form.text_field :how_referred, id: :client_how_referred, placeholder: "How were you referred to the clinic", class: "form" %>
    </div>
  </div>

  <div class="field fieldStyle" style="display: none;">
    <%= form.text_field :custom_id, id: :client_custom_id, value: "0" %>
  </div>

  <button type="button" class="btn btn-primary" onclick="show('VideoConsent')">Informed Consent for Video/Audio Recording</button><br>
  <div id="VideoConsent" style="display: none; padding-left: 20%; padding-right: 20%;">
    <br>
    <%= link_to "Informed_Consent_to_Record.pdf", "/Informed_Consent_to_Record.pdf" %>
  </div>

  <div style="padding-top: 1em;">
    <button type="button" class="btn btn-primary" onclick="show('CounselingConsent')">Informed Consent for Counseling</button><br>
  </div>
  <div id="CounselingConsent" style="display: none; padding-left: 20%; padding-right: 20%;">
    <br>
    <%= link_to "Clinic_Informed_Consent_and_PDS.pdf", "/Clinic_Informed_Consent_and_PDS.pdf" %>
  </div>

  <div style="padding-top: 1em;">
    <button type="button" class="btn btn-primary" onclick="show('TreatmentConsent')">Informed Consent for Treatment</button><br>
  </div><br>
  <div id="TreatmentConsent" style="display: none; padding-left: 20%; padding-right: 20%;">
    <%= link_to "IntakeTemplateForWrite-Up.pdf", "/IntakeTemplateForWrite-Up.pdf" %>
  </div><br>

  I agree to the following conscent forms:<br>
  Audio/Video Consent&nbsp;<input id="checkBox" type="checkbox" checked><br>
  Counseling Consent&nbsp<input id="checkBox" type="checkbox" checked><br>
  Treatment Consent&nbsp;<input id="checkBox" type="checkbox" checked><br><br>

  <strong>Draw your signature into the box below</strong><br>
  <canvas style="border: 1px solid black" id="signature-pad" class="signature-pad" width=800 height=300></canvas><br>
  <button id="clear">Clear</button><br><br>

  <%= check_box_tag :autofill, true, (@auto_fill == 'true') %> autofill form

  <div style="margin-top: 1em;">
    <%= form.submit "Submit", :class => 'btn btn-primary', :onclick => "SaveSig()" %>
  </div><br>

  <input type="hidden" id="sig" name="sig">

<% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>

  $(document).ready(function() {
    for (var i = 0; i < 3; i++) {
      document.getElementById(i.toString()).style.display = 'none';
    }

    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  });

  function changed(sel) {
    var taskNum = sel.options[sel.selectedIndex].value;
    for (var i = 3; i >= 0; i--) {
      if (taskNum <= i) {
        document.getElementById(i.toString()).style.display = 'none';
      } else {
        document.getElementById(i.toString()).style.display = 'block';
      }
    }
  }

  function show(id) {
    var element = document.getElementById(id);
    if (element.style.display === "none") {
      element.style.display = "block";
    } else {
      element.style.display= "none";
    }
  }
  var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
    backgroundColor: 'rgba(255, 255, 255, 0)',
    penColor: 'rgb(0, 0, 0)'
  });

  function SaveSig(){
    //console.log(signaturePad.getDataURL())
    $("#sig").val(signaturePad.toDataURL());
  }

  // document.getElementById('save-png').addEventListener('click', function () {
  //   if (signaturePad.isEmpty()) {
  //     return alert("Please provide a signature first.");
  //   }

  //   var data = signaturePad.toDataURL('image/png');
  //   console.log(data);
  //   window.open(data);
  // });

  document.getElementById('clear').addEventListener('click', function () {
    signaturePad.clear();
  });

</script>
