<br><h1>Client Information Sheet</h1>

<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js" %>

<style>
  .goodBorder {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.10);
    border: 1px solid grey;
    padding: 15px;
  }

  label.error {
    color: red;
  }

  #contact{
    padding:10px 0 10px;
  }
  .contact-text{
    margin:45px auto;
  }
  .mail-message-area{
    width:100%;
    padding:0 15px;
  }
  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }
  .not-visible-message{
    height:0px;
    opacity: 0;
  }
  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }
  /* Input Styles */
  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .form:hover{
    border:1px solid #8BC3A3;
  }
  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }
  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  /* Generic Button Styles */
  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }
  .button:hover{
    background:#8BC3A3;
    color:white;
  }
  /* Send Button Styles */
  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }
  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }
  .form-btn:active{
    opacity: 0.9;
  }
  center{
    margin-top:330px;
  }
  input {
    position: relative;
    z-index: 9999;
  }
</style>

<script>
/*function validatearticleFunction() {
  $("#new_client").validate({
    debug: false,
    rules: {
      "client[email]": {
        required: function(e) {
          return !$("#client_phone_number").is(':filled');
        }
      },
      "client[phone_number]": {
        required: function(e) {
          return !$("#client_email").is(':filled');
        }
      },
    },
    messages:{

    },
    submitHandler: function(form){
      form.submit();
    }
    });
}

$(document).ready(validatearticleFunction);
*/

</script>

<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>

<div style="margin: 30px 100px 100px 100px; text-align: center;">

<% client = @client %>
<%= form_for(@client, local: true) do |form| %>

  <!-- error checking doesnt work with auto_fill -->
  <!--<% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>-->

  <div class="inner contact">
    <div class="contact-form">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.text_field :first_name, id: :client_first_name, placeholder: "First Name", class: "form" %>
        <%= form.label :dob, "Date of Birth" %>
        <%= form.date_select :dob, id: :client_dob, :start_year => 1901, :end_year => Time.current.year, class: "form" %><br>
        <div class="form-group">
          <%= form.label "can we leave a message"  %>
          <%= form.check_box :leave_message, id: :client_leave_message %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= form.label :phone_type %>
          <%= form.select :phone_type, options_for_select([["Select One", ""], "Cell", "Work", "Home"]), class: "form" %>
        </div>
        <div style="margin-top:-0.75em">&nbsp;</div>
          <%= form.text_field :email, id: :client_email, placeholder: "Email", class: "form" %>
          <%= form.text_field :local_address, id: :client_local_address, placeholder: "Address", class: "form" %>
          <%= form.text_field :email_leave_message, id: :client_email_leave_message, placeholder: "Leave Email", class: "form" %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :last_name,  id: :client_last_name, placeholder: "Last Name", class: "form" %>
        <%= form.text_field :phone_number, id: :client_phone_number, placeholder: "Phone Number", class: "form" %>
        <%= form.text_field :occupation, id: :client_occupation, placeholder: "Occupation", class: "form" %>
        <%= form.text_field :employer, id: :client_employer, placeholder: "Employer", class: "form" %>
      </div>
      <div class="clearfix"></div>
      <h2 style="">Demographic Information</h2><br>
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.text_field :highest_edu, id: :client_highest_edu, placeholder: "Highest Education", class: "form" %>
        <%= form.text_field :culture_background, id: :client_culture_background, placeholder: "Culture Background", class: "form" %>
        <%= form.text_field :relationship, id: :client_relationship, placeholder: "Relationship", class: "form" %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :identified_gender, id: :client_identified_gender, placeholder: "Identified Gender", class: "form" %>
        <%= form.text_field :sexual_orientation, id: :client_sexual_orientation, placeholder: "Sexual Orientation", class: "form" %>
        <%= form.text_field :how_referred, id: :client_how_referred, placeholder: "How referred", class: "form" %>
      </div>
      <div class="clearfix"></div>
     </div>
  </div>

  <%= form.check_box :accepted, id: :client_accepted %>
  <%= form.label :accepted %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.label :referral_to %>
  <%= form.text_field :referral_to, id: :client_referral_to %>

  <h3>How many members are in your household (optional)</h3>

  <div class="field fieldStyle"><%= select_tag "quantity", options_for_select((1..4),1), :onchange => 'changed(this)' %></div>
  <% 4.times do |i| %>
    <%= form.fields_for :family_members, FamilyMember.new do |family_member_form| %>
      <p id="<%= i.to_s %>">
        <%= family_member_form.text_field :name, placeholder: "Name" %>
        Date of Birth: <%= family_member_form.date_select :dob, :start_year => 1901, :end_year => Time.current.year %>
        <%= family_member_form.text_field :relation, placeholder: "Relation" %>
      </p>
    <% end %>
  <% end %>
  <br>

  <h3>Emergency Contact Information</h3><br>
  <div class="inner contact">
    <div class="contact-form">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.text_field :emergency_name, id: :client_emergency_name, placeholder: "Emergency Name", class: "form" %>
        <%= form.text_field :emergency_phone, id: :client_emergency_phone, placeholder: "Emergency Phone", class: "form" %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :emergency_relation, id: :client_emergency_relation, placeholder: "Emergency Relation", class: "form" %>
        <%= form.text_field :insurance_company, id: :client_insurance_company, placeholder: "Insurance Company", class: "form" %>
      </div>
    </div>
  </div>

  <h3>History</h3><br>
  <div class="inner contact">
    <div class="contact-form">
      <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
        <%= form.text_field :emergency_name, id: :client_emergency_name, placeholder: "Emergency Name", class: "form" %>
        <%= form.text_field :emergency_phone, id: :client_emergency_phone, placeholder: "Emergency Phone", class: "form" %>
        <%= form.text_field :physician, id: :client_physician, placeholder: "Physician", class: "form" %>
        <%= form.check_box :counselor_seen_before, id: :client_counselor_seen_before %>
        <%= form.label :counselor_seen_before %>
      </div>
      <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
        <%= form.text_field :emergency_relation, id: :client_emergency_relation, placeholder: "Emergency Relation", class: "form" %>
        <%= form.text_field :insurance_company, id: :client_insurance_company, placeholder: "Insurance Company", class: "form" %>
        <%= form.text_field :physician_phone, id: :client_physician_phone, placeholder: "Physician Phone", class: "form" %>
        <%= form.text_field :counselor_seen, id: :client_counselor_seen, placeholder: "Counselor Seen", class: "form" %>
      </div>
    </div>
  </div>

  <div class="field fieldStyle" style="display: none;">
    <%= form.text_field :custom_id, id: :client_custom_id, value: "0" %>
  </div>

  <button type="button" class="btn btn-primary" onclick="show('VideoConsent')">Informed Consent for Video/Audio Recording</button><br>
  <div id="VideoConsent" style="display: none; padding-left: 20%; padding-right: 20%;">
    <br>As a graduate student, I am required to be under the direct supervision of qualified clinical
    supervisors. My supervisors review all aspects of the services that I am providing to you. You have the
    right to know the name of my supervisor(s) and how to contact her or him. This information is listed
    above. In addition, as part of my program and clinical supervision requirements, I electronically record
    my counseling sessions. These recordings are reviewed during clinical supervision for the purposes of
    facilitating my learning and effectiveness as a developing counselor. Recordings are kept secure and
    confidential, and they are never shared with any person who is not part of the OSU Counseling program.
    Recordings are erased after the clinical requirements have been met.<br><br>

    Your signature (as the client/and parent or guardian) below confirms that this form has been explained
    to you, and that you understand the following: I am not required and I am under no obligation to have
    counseling sessions recorded. I may withdraw my permission at any time during or after the recording
    session. My care will not change by my decision not to be recorded. I have the right to review my
    recording(s) with my student counselor during a counseling session. My student counselor receives
    supervision both at this location and by the faculty at Oregon State University Cascades. The contents
    of this recording will remain confidential within the supervision at OSU Cascades. Recordings are erased
    after the clinical requirements have been met. I may revoke this consent at any time by submitting to
    the student counselor a request to withdraw my (as a client, parent/guardian) permission. The original copy
    of this consent form will be kept in my records wit this agency. This recording will only be used as a
    tool to help my student counselor in assisting me or my family.
  </div>

  <div style="padding-top: 1em;">
    <button type="button" class="btn btn-primary" onclick="show('CounselingConsent')">Informed Consent for Counseling</button><br>
  </div>
  <div id="CounselingConsent" style="display: none; padding-left: 20%; padding-right: 20%;">
    <br>Counseling Conscent
  </div>

  <div style="padding-top: 1em;">
    <button type="button" class="btn btn-primary" onclick="show('TreatmentConsent')">Informed Consent for Treatment</button><br>
  </div><br>
  <div id="TreatmentConsent" style="display: none; padding-left: 20%; padding-right: 20%;">
    <br>
    <span style=""text-transform: uppercase;>
      CLIENT INFORMED CONSENT TO TREATMENT<br>
      AND PROFESSIONAL DISCLOSURE STATEMENT<br>
    </span><br>

    Page 1 of 4<br>
    <span style="text-decoration: underline;">About Us</span>
    The Master of Science (M.S) in Counseling has been taught as the OSU Cascades campus since 2004.
    Students in the program are required to counsel with clients for a specific amount of hours during their
    training. The counselors are graduate students earning a Master’s degree in Counseling. Counselors are
    supervised closely by OSU counseling faculty. All student counselors have undergone rigorous training
    and are qualified to provide counseling services under clinical supervision.<br><br>

    <span style="text-decoration: underline;">Protect Health Information (PHI)</span>
    Record keeping for counseling sessions is a requirement by Oregon State law. All information about you
    is considered to be protected health information (PHI). Your PHI will be shared only with OSU faculty and
    students providing mental health care services and training regarding the same. <br><br>

    As part of their program and clinical supervision requirements, student counselors electronically
    record their counseling sessions. These recordings are review during clinical supervision for the purposes
    of facilitating learning and competency of the counselor. Recording are kept secure and confidential, and
    they are never shared with any person who is not affiliated with the clinic. Recordings are erased after
    the clinical requirements have been met.<br><br>

    <span style="text-decoration: underline;">Responsibilities of Your Counselor and the Counseling Center</span>
    Your student counselor is responsible to be punctual and available during your scheduled appointments,
    to return phone calls in a timely manner, to be honest and candid about your counseling (including
    recommendations), to practice in and ethical and legal manner, and to keep people physically safe. <br><br>

    Your student counselor undergoes regular and rigorous clinical supervision from program faculty. If you feel
    your counselor has not acted responsibly, please call Dr. Ryan Reese, Clinical Coordinator, at 541-322-2021.
    You also have a right to express dissatisfaction with your experience through our formal grievance procedure
    policy.<br><br>

    <span style="text-decoration: underline;">Risks to Counseling</span>
    It is important for you to know that there are risks involved with counseling. for example, some people
    experience an increase in stress, particularly during the early stages of counseling. Some problems might
    seem to get worse before they get better. These occurrences are natural. Other risks may occur as well,
    depending on the situation. Please ask your student counselor about what risks you can expect.
  </div>

  I agree to the following conscent forms:<br>
  Audio/Video Consent&nbsp;<input id="checkBox" type="checkbox" checked><br>
  Counseling Consent&nbsp<input id="checkBox" type="checkbox" checked><br>
  Treatment Consent&nbsp;<input id="checkBox" type="checkbox" checked><br><br>

  <strong>Draw your signature into the box below</strong><br>
  <canvas style="border: 1px solid black" id="signature-pad" class="signature-pad" width=800 height=300></canvas><br>
  <button id="save-png" onclick="SaveSig()">Save as PNG</button>
  <button id="clear">Clear</button><br><br>

  <%= check_box_tag :autofill, true, (@auto_fill == 'true') %> autofill form

  <div style="margin-top: 1em;">
    <%= form.submit "Submit", :class => 'btn btn-primary' %>
  </div><br>

  <input type="hidden" id="sig" name="sig">

<% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>

  $(document).ready(function() {
    for (var i = 0; i < 3; i++) {
      document.getElementById(i.toString()).style.display = 'none';
    }

    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  });

  function changed(sel) {
    var taskNum = sel.options[sel.selectedIndex].value;
    for (var i = 3; i >= 0; i--) {
      if (taskNum <= i) {
        document.getElementById(i.toString()).style.display = 'none';
      } else {
        document.getElementById(i.toString()).style.display = 'block';
      }
    }
  }

  function show(id) {
    var element = document.getElementById(id);
    if (element.style.display === "none") {
      element.style.display = "block";
    } else {
      element.style.display= "none";
    }
  }
  var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
    backgroundColor: 'rgba(255, 255, 255, 0)',
    penColor: 'rgb(0, 0, 0)'
  });

  function SaveSig(){
    //console.log(signaturePad.getDataURL())
    $("#sig").val(signaturePad.toDataURL());
  }

  // document.getElementById('save-png').addEventListener('click', function () {
  //   if (signaturePad.isEmpty()) {
  //     return alert("Please provide a signature first.");
  //   }

  //   var data = signaturePad.toDataURL('image/png');
  //   console.log(data);
  //   window.open(data);
  // });

  document.getElementById('clear').addEventListener('click', function () {
    signaturePad.clear();
  });

</script>
