<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>

<% @client = Client.find(params[:id]) %>
<% @notes = Note.where(client_id: @client) %>

<h1>Notes for <%= @client.first_name %> <%= @client.last_name %></h1>

<div style="margin: 1em 1em 1em 1em;">
  <table style="width: 100%; ">
    <thead>
      <tr>
        <th>Client name</th>
        <th>Counselor name</th>
        <th>Status</th>
        <th>Save Status</th>
        <th>Client Id</th>
        <th colspan="5"></th>
      </tr>
    </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr id="<%= note.id.to_s %>">
        <td><%= note.client_name %></td>
        <td><%= note.counselor_name %></td>
        <td>
          <%= note.status %>
          <!--<select>
            <option>Open</option>
            <option>Submitted</option>
            <option>Accepted</option>
            <option>Rejected</option>
          </select>-->
        </td>

        <td><button>Save</button></td>
        <td><%= note.client_id %></td>
      </tr>
      <tr>
        <td colspan="5">
          <button class="accordion">session <%= note.session_number %></button>
          <div class="panel">
            <br><textarea id="editor"><%= note.content %></textarea><br>
            <!-- <%= button_to 'Save Note', update_notes_path(note.id, note: {content: 'value1', id: note.id}), method: :put %>-->
            <button id="<%= note.id.to_s %>btn" onclick="updateNote(this)">Save</button>
          </div>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br><br>
<h3>Create Note for Client</h3>
<br>

		<%= form_for Note.new do |f| %>
		<div class="field">
			<%= f.label :session_number %>
			<%= f.text_field :session_number, :value => @notes.length+1 %>
		</div>

    <div class="field">
			<%= f.label :client_name %>
			<%= f.text_field :client_name, :value => @client.first_name %>
		</div>

		<div class="field">
      <%= f.label :counselor_name %>
      <% begin %> <!-- client may be unassigned -->
        <% @counselor = User.find(@client.counselor_id) %>
        <%= f.text_field :counselor_name, :value => @counselor.name %>
      <% rescue => ex %>
        <%= f.text_field :counselor_name %>
      <% end %>
		</div>

    <div class="field">
			<%= f.label :status %>
			<%= f.text_field :status %>
      <select>
        <option>Open</option>
        <option>Submitted</option>
        <option>Accepted</option>
        <option>Rejected</option>
      </select>
		</div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="field">
      <%= f.label 'hidden:client:id' %>
      <%= f.text_field :client_id, :value => @client.id %>
    </div>

		<div class="actions">
			<%= f.submit "Sign up" %>
		</div>
		<% end %>


<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace( 'editor' );
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }

  function updateNote(element) {
    var rowId = element.id.substring(0, element.id.length - 3);
    var row = document.getElementById(rowId);
    var message = {};
    message.sessionNumber = rowId;
    message.clientName = row.cells[0].innerHTML;
    message.counselorName = row.cells[1].innerHTML;
    message.status = "ok"; //row.cells[2].innerHTML;
    console.log(document.getElementById(element.id).parentElement);
    console.log(document.getElementById(element.id).parentElement.getElementsByTagName("textarea")[0].innerHTML);
    message.content = "i got here"; //element.parentElement.getElementsByTagName("textarea")[0].innerHTML;
    message.clientId = row.cells[4].innerHTML;
    console.log(message);
    //params.require(:note).permit(:session_number, :client_name, :counselor_name, :status, :content, :client_id)

    $.ajax({
      type: "PUT",
      url: "http://localhost:3000/notes/" + message.sessionNumber + ".json",
      data: JSON.stringify({note:{"session_number":message.sessionNumber, "client_name":message.clientName,
                            "counselor_name":message.counselorName, "status":message.status, "client_id":message.clientId,
                            "content":message.content}}),
      contentType:"application/json",
      dataType: "json",
      success: function (data) {
        var formValid = (data.status === 'OK');
        if (formValid) {
          console.log("success");
          location.reload();
        } else {
          console.log(data.status);
        }
      },
      error: function (jqXHR, textStatus, errorThrown, data) {
        console.log("error");
      }
    });
  }
</script>
