<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @client.first_name %>

  <strong>Age:</strong>
  <%= @client.age %>

  <strong>user id:</strong>
  <%= @client.counselor_id %>

  <strong>Last Name:</strong>
  <%= @client.last_name %>

  <strong>DOB:</strong>
  <%= @client.dob %>

  <strong>Phone Number:</strong>
  <%= @client.phone_number %>

  <strong>leave_message:</strong>
  <%= @client.leave_message %>

  <strong>occupation:</strong>
  <%= @client.occupation %>

  <strong>employer:</strong>
  <%= @client.employer %>

  <strong>employer_address:</strong>
  <%= @client.employer_address %>

  <strong>work_phone:</strong>
  <%= @client.work_phone %>

  <strong>leave_message_work:</strong>
  <%= @client.leave_message_work %>

  <strong>spouse_first_name:</strong>
  <%= @client.spouse_first_name %>

  <strong>spouse_last_name:</strong>
  <%= @client.spouse_last_name %>

  <strong>spouse_dob:</strong>
  <%= @client.spouse_dob %>

  <strong>leave_message_work:</strong>
  <%= @client.leave_message_work %>

  <strong>spouse_occupation:</strong>
  <%= @client.spouse_occupation %>

  <strong>spouse_employer:</strong>
  <%= @client.spouse_employer %>

  <strong>spouse_employer:</strong>
  <%= @client.spouse_employer %>

  <strong>spouse_phone:</strong>
  <%= @client.spouse_phone %>

  <strong>emergency_name:</strong>
  <%= @client.emergency_name %>

  <strong>emergency_relation:</strong>
  <%= @client.emergency_relation %>

  <strong>emergency_address:</strong>
  <%= @client.emergency_address %>

  <strong>emergency_phone:</strong>
  <%= @client.emergency_phone %>

  <strong>health_insurance:</strong>
  <%= @client.health_insurance %>

  <strong>insurance_company:</strong>
  <%= @client.insurance_company %>

  <strong>physician:</strong>
  <%= @client.physician %>

  <strong>physician_phone:</strong>
  <%= @client.physician_phone %>

  <strong>medication:</strong>
  <%= @client.medication %>

  <strong>counselor_seen_before:</strong>
  <%= @client.counselor_seen_before %>

  <strong>counselor_seen:</strong>
  <%= @client.counselor_seen %>

  <strong>help_reason:</strong>
  <%= @client.help_reason %>
  
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
