<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card sm-6 shadow-sm">
        <div class="card-body">
          <h4 class="card-text" style="text-align: center;">Client Information</h4>
          <strong>First Name:</strong>
          <%= @client.first_name %><br>

          <strong>Last Name:</strong>
          <%= @client.last_name %><br>

          <strong>Address:</strong>
          <%=
            @client.local_street.to_s + ' ' +
            @client.local_city.to_s + ', ' +
            @client.local_state.to_s + ' ' +
            @client.local_zipcode.to_s
          %><br>

          <strong>Date of Birth:</strong>
          <%= @client.dob.to_date %><br>

          <strong>Occupation:</strong>
          <%= @client.occupation %><br>

          <strong>Employer:</strong>
          <%= @client.employer %><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card sm-6 shadow-sm">
        <div class="card-body">
          <h4 class="card-text" style="text-align: center;">Client Contact Information</h4>
          <strong>Phone Number:</strong>
          <%= @client.phone_number %><br>

          <strong>Phone Type:</strong>
          <%= @client.phone_type %><br>

          <strong>Can we leave messages:</strong>
          <%= @client.leave_message %><br>

          <strong>Email:</strong>
          <%= @client.email %><br>

          <strong>Can we send you emails:</strong>
          <%= @client.email_leave_message %><br>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card sm-6 shadow-sm">
        <div class="card-body">
          <h4 class="card-text" style="text-align: center;">Client Demographic Information</h4>
          <strong>Highest Education:</strong>
          <%= @client.highest_edu %><br>

          <strong>Identified Gender:</strong>
          <%= @client.identified_gender %><br>

          <strong>Cultural Background:</strong>
          <%= @client.culture_background %><br>

          <strong>Sexual Orientation:</strong>
          <%= @client.sexual_orientation %><br>

          <strong>Relationship Status:</strong>
          <%= @client.relationship %><br>

          <strong>Active or Retired Military:</strong>
          <%= @client.is_veteran %><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card sm-6 shadow-sm">
        <div class="card-body">
          <h4 class="card-text" style="text-align: center;">Emergency Contact Information</h4>
            <strong>Emergency Contact Name:</strong>
            <%= @client.emergency_name %><br>

            <strong>Emergency Contact Relation:</strong>
            <%= @client.emergency_relation %><br>

            <strong>Emergency Contact Phone Number:</strong>
            <%= @client.emergency_phone %><br>

            <strong>Insurance Company:</strong>
            <%= @client.insurance_company %><br>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card sm-6 shadow-sm">
        <div class="card-body">
          <h4 class="card-text" style="text-align: center;">Client History</h4>
            <strong>Counselor Seen Before:</strong>
            <%= @client.counselor_seen_before %><br>

            <strong>Counselor Seen:</strong>
            <%= @client.counselor_seen %><br>

            <strong>How were you Referred:</strong>
            <%= @client.how_referred %><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card sm-6 shadow-sm">
        <div class="card-body">
          <h4 class="card-text" style="text-align: center;">Client Household Information</h4>
          <% for family_member in @client.family_members %>
            <% if family_member.name.to_s.empty? == false %>
              <strong>Family Member Name:</strong>
              <%= family_member.name %><br>
              <strong>Date of Birth:</strong>
              <%= family_member.age %><br>
              <strong>Relation:</strong>
              <%= family_member.relation %><br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
