<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @client.first_name %><br>

  <strong>Last Name:</strong>
  <%= @client.last_name %><br>

  <strong>DOB:</strong>
  <%= @client.dob %><br>

  <!-- counselor id -->
  <strong>user id:</strong>
  <%= @client.counselor_id %><br>

  <strong>Phone Number:</strong>
  <%= @client.phone_number %><br>

  <strong>leave_message:</strong>
  <%= @client.leave_message %><br>

  <strong>email:</strong>
  <%= @client.email %><br>

  <strong>occupation:</strong>
  <%= @client.occupation %><br>

  <strong>employer:</strong>
  <%= @client.employer %><br>

  <% for family_member in @client.family_members %>
    <p>
      <% if family_member.name.to_s.empty? == false %>
        <strong>Name:</strong>
        <%= family_member.name %>
        <strong>Age:</strong>
        <%= family_member.age %>
        <strong>Dob:</strong>
        <%= family_member.dob %>
        <strong>Relation:</strong>
        <%= family_member.relation %>
      <% end %>
    </p>
  <% end %><br><br>

  <strong>emergency_name:</strong>
  <%= @client.emergency_name %><br>

  <strong>emergency_relation:</strong>
  <%= @client.emergency_relation %><br>

  <strong>emergency_phone:</strong>
  <%= @client.emergency_phone %><br>

  <strong>insurance_company:</strong>
  <%= @client.insurance_company %><br>

  <strong>physician:</strong>
  <%= @client.physician %><br>

  <strong>physician_phone:</strong>
  <%= @client.physician_phone %><br>

  <strong>medication:</strong>
  <%= @client.medication %><br>

  <strong>counselor_seen_before:</strong>
  <%= @client.counselor_seen_before %><br>

  <strong>counselor_seen:</strong>
  <%= @client.counselor_seen %><br>

  <strong>custom_id:</strong>
  <%= @client.custom_id %><br>

  <strong>local_address:</strong>
  <%= @client.local_address %><br>

  <strong>phone_type:</strong>
  <%= @client.phone_type %><br>

  <strong>email_leave_message:</strong>
  <%= @client.email_leave_message %><br>

  <strong>highest_edu:</strong>
  <%= @client.highest_edu %><br>

  <strong>identified_gender:</strong>
  <%= @client.identified_gender %><br>

  <strong>culture_background:</strong>
  <%= @client.culture_background %><br>

  <strong>sexual_orientation:</strong>
  <%= @client.sexual_orientation %><br>

  <strong>relationship:</strong>
  <%= @client.relationship %><br>

  <strong>how_referred:</strong>
  <%= @client.how_referred %><br>

  <strong>accepted:</strong>
  <%= @client.accepted %><br>

  <strong>referral_to:</strong>
  <%= @client.referral_to %><br>
</p>
