<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	table, td, th {
	border: 1px solid black;
	}

	td {
		text-align: center;
	}
</style>

<div style="text-align: center;">
	<h1>Admin Manage Users</h1>
</div>


<div style="float: left; margin: 2em;">
<h3>Counselors</h3>
<table width="100%">
	<tr>
		<th>Name</th>
		<th>Username</th>
		<th>Role</th>
		<th>Archive</th>
	</tr>
	<% @users = User.all %>
	<% @users.each do |user| %>
		<% if (user.role == 2) %>
		<tr>
			<td><%= user.name %></td>
		  <td><%= user.email %></td>
			<td><%= user.role %></td>
			<td><button>-</button></td>
		</tr>
		<% end %>
	<% end %>
</table>
</div>

<div style="clear: both; margin: 2em;">

	<h3>Create New Counselor</h3>
	<%= form_for User.new do |f| %>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</div>

		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email %>
		</div>

		<div class="field">
			<%= f.label :password %>
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "off" %>
		</div>

		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>

		<div class="field" style="display: none;">
			<%= f.label :role %><br />
			<%= f.text_field :role, autocomplete: "off", value: 2 %>
		</div>

		<div class="actions">
			<%= f.submit "Sign up" %>
		</div>
	<% end %>

</div>
