<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	table, th, td {
		border: 1px solid black;
	}
</style>

<div style="text-align: center;">
	<h1>Admin Home</h1>
</div>

<div style="position: fixed; left: 50%;"
	<div style="float: left;">
	<%= button_to "Client Reports", page_path('adminclientreports'), :method => :get %>
	</div>
	<div style="float: right; width: 60%;">
	<%= button_to "Manage Users", page_path('adminmanageusers'), :method => :get %>
	</div>
</div><br>

<table style="width:100%;">
	<tr>
		<th>First Name</th>
		<th>ID</th>
		<th>Age</th>
		<th>View More</th>
		<th>Counselor</th>
	</tr>
	<% @clients = Client.all %>
	<% @clients.each do |client| %>
		<tr>
			<td><%= client.first_name %></td>
			<td><%= client.id %></td>
			<td><%= client.age %></td>
			<td><%= button_to 'View More', edit_client_path(client.id), :method => :get %></td>
			<td><%= (User.find_by_id(client.user_id)).name %></td>
		</tr>
	<% end %>
</table>
