<style>
  p { font-size: 1rem; }
  .rb-box {
    max-width: 840px;
    margin: 50px auto;
    border-radius: .75em;
  }
  .rb-tab {
    display: inline-block;
    position: relative;
    width: 6%;
  }
  .rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: black;
  }
  .rb-spot {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 100%;
    cursor: pointer;
    transition: ease .5s;
  }
  .rb-tab-active .rb-spot {
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.6);
  }
  .desc {
    position: relative;
    top: 5px;
  }
  .left {
    float:left;
    width: 33%;
    overflow: hidden;
    text-indent: 2em;
  }
  .center {
    display: inline-block;
    width: 33%;
    overflow: hidden;
    text-align: center;
  }
  .right {
    float:right;
    width: 33%;
    overflow: hidden;
    text-align: right;
  }
  .options-bg {
    width: 15px;
    height: 15px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  .labelLeft {
    float: left;
    width: 100px;
  }
  .labelRight {
    float: right;
    width: 150px;
  }
  .textbox {
    text-indent: 1em;
  }
</style>

<div class="rb-box">
  <div class="field left">
    <input id="clientNum" placeholder="Clinic Client #"></input>
  </div>

  <div class="field center">
    Date: <span id="date"></span>
  </div>

  <div class="field right">
    <select id="roomNum" onchange="changeColor()">
      <option value="133">room 133</option>
      <option value="131">room 131</option>
      <option value="129">room 129</option>
    </select>
    <span id="color" style="visibility: visible; background: #800080;" class="options-bg">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <br><br><br>

  <p><b>1. How effective was your session in meeting your needs today?</p></b>
  <div id="rb-1">
    <div class="desc labelLeft ">Ineffective</div>
    <% 10.times do |i| %>
      <div class="rb-tab" data-value="<%=i+1%>">
        <div class="rb-spot">
          <span class="rb-txt"><%=i+1%></span>
        </div>
      </div>
    <% end %>
    <div class="desc labelRight">Highly Effective</div>
  </div>
  <br><br>

  <p><b>2. How well were you able to focus in your session today?</p></b>
  <div id="rb-2">
    <div class="desc labelLeft">Unfocused</div>
    <% 10.times do |i| %>
      <div class="rb-tab" data-value="<%=i+1%>">
        <div class="rb-spot">
          <span class="rb-txt"><%=i+1%></span>
        </div>
      </div>
    <% end %>
    <div class="desc labelRight">Highly Focused</div>
  </div>
  <br><br>

  <p><b>3. Based on today's session, how would you rate your relationship with your student counselor?</p></b>
  <div id="rb-3">
    <div class="desc labelLeft">Weak Relationship</div>
    <% 10.times do |i| %>
      <div class="rb-tab" data-value="<%=i+1%>">
        <div class="rb-spot">
          <span class="rb-txt"><%=i+1%></span>
        </div>
      </div>
    <% end %>
    <div class="desc labelRight">Strong Relationship</div>
  </div>
  <br><br>

  <p><b>4. Based on today's session, I believe my counselor cares about me.</p></b>
  <div id="rb-3">
    <div class="desc labelLeft">Not at all.</div>
    <% 10.times do |i| %>
      <div class="rb-tab" data-value="<%=i+1%>">
        <div class="rb-spot">
          <span class="rb-txt"><%=i+1%></span>
        </div>
      </div>
    <% end %>
    <div class="desc labelRight">The most they could.</div>
  </div>
  <br><br>

  <p><b>5. At the start of the session what was your stress level?</p></b>
  <div id="rb-3">
    <div class="desc labelLeft">Not Stressed</div>
    <% 10.times do |i| %>
      <div class="rb-tab" data-value="<%=i+1%>">
        <div class="rb-spot">
          <span class="rb-txt"><%=i+1%></span>
        </div>
      </div>
    <% end %>
    <div class="desc labelRight">Highly Stressed</div>
  </div>
  <br><br>

  <p><b>6. At the end of session today, what was your stress level?</p></b>
  <div id="rb-3">
    <div class="desc labelLeft">Not Stressed</div>
    <% 10.times do |i| %>
      <div class="rb-tab" data-value="<%=i+1%>">
        <div class="rb-spot">
          <span class="rb-txt"><%=i+1%></span>
        </div>
      </div>
    <% end %>
    <div class="desc labelRight">Highly Stressed</div>
  </div>
  <br><br>

  <p>7. Is there anything else you would like to share about your session today?
    (<span style="font-weight: bolder;">OPTIONAL</span>)
  </p>

  <div class="textbox">
    <textarea rows="4" cols="100" id="optionalInfo"></textarea>
   </div> 
  <br><br>

  <p style="text-align: center; width: 100%;">
    <button class="btn" style="background: #D3D3D3;" onclick="send()">Send</button>
  </p>
</div>


<script>
function changeColor() {
  var roomNum = document.getElementById("roomNum").value;
  var color = document.getElementById("color");
  if (roomNum == "133") {
  	color.style.background = "#800080";
  } else if (roomNum == "131") {
  	color.style.background = "#FFFF00";
  } else {
  	color.style.background = "#228B22";
  }
}
$( document ).ready(function() {
  var nowDate = new Date();
  var date = (nowDate.getMonth()+1) + '/' + nowDate.getDate() + '/' + nowDate.getFullYear(); // january is 0
  document.getElementById("date").innerHTML = date;
});
$(".rb-tab").click(function(){
  $(this).parent().find(".rb-tab").removeClass("rb-tab-active");
  $(this).addClass("rb-tab-active");
});
function send() {
  var message = {};
  try {
    // get data from page
    message.client_number = document.getElementById('clientNum').value;
    message.date = new Date();
    message.room_num =  parseInt(document.getElementById('roomNum').value);
    var active = document.getElementsByClassName('rb-tab-active');
    message.effectiveness = parseInt(active[0].getAttribute('data-value'));
    message.focus = parseInt(active[1].getAttribute('data-value'));
    message.relationship = parseInt(active[2].getAttribute('data-value'));
    message.care = parseInt(active[3].getAttribute('data-value'));
    message.start_stress = parseInt(active[4].getAttribute('data-value'));
    message.end_stress = parseInt(active[5].getAttribute('data-value'));
    message.optional_info = document.getElementById('optionalInfo').value;
    $.ajax({
      type: "POST",
      url: "/session_ratings",
      data: JSON.stringify({session_rating:{"client_number":message.client_number, "date":message.date,
                            "room_num":message.room_num, "effectiveness":message.effectiveness, "focus":message.focus,
                            "relationship":message.relationship, "care":message.care, "start_stress":message.start_stress,
                            "end_stress":message.end_stress, "optional_info":message.optional_info}}),
      contentType:"application/json",
      dataType: "json",
      success: function (data) {
        var formValid = (data.status === 'OK');
        if (formValid) {
          console.log("success");
        } else {
          alert("success, thank you for your feedback");
        }
      },
      error: function (jqXHR, textStatus, errorThrown, data) {
        console.log("error");
      }
    });
  } catch (err) {
    alert("error please verify all information is filled in correctly");
  }
}
</script>
