<!-- Files with a _ infront of it means it is a partial facility -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dc4405;">
  <ul class="navbar-nav">
    <li style="font-size: 70%;">
      <%= link_to "OSU Cascades<br />Counseling Clinic".html_safe, root_path, id: "logo", class: "btn nav-link" %>
    </li>
  </ul>
  <!-- second ul tag centers links -->
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li class="nav-item"><%= link_to 'Home', '/admin/adminhome', class: "btn nav-link text-white" %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Home', '/pages/counselorhome', class: "btn nav-link text-white" %></li>
      <% end %>
      <li class="nav-item"><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn nav-link text-white" %></li>
      <li class="nav-item"><%= link_to 'Log out', '/auth/logout', method: :delete, class: "btn nav-link text-white" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Log in", '/auth/login', class: "btn nav-link text-white" %></li>
    <% end %>
  </ul>
</nav>
