<!-- Files with a _ infront of it means it is a partial facility -->

<nav>
  <div class="nav-wrapper black">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to "BeaverCounseling", root_path, id: "logo" %></li>
      <li><%= link_to "Home",   root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Log out', '/auth/logout', method: :delete%></li>
        <li><%= link_to "Log in", '/auth/login' %></li>
      <% else %>
        <li><%= link_to "Log in", '/auth/login' %></li>
      <% end %>
    </ul>
  </div>
</nav>