<!DOCTYPE html>
<html>
  <head>
    <title>BeaverCounseling</title>
      <%= csrf_meta_tags %>
   	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #dfe3ee; margin: 0">
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
